body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.padding{
    padding-left: 10%;
}

h1{
        font-size: 50px;
}
.orange{
    color: orangered;
}
.flexible-part{
    display: flex;
    margin-bottom: 150px;
}
.text{
    width: 50%;
    padding: 5%;
    padding-right: 20%;
}
div img{
    width: 70%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    color: white ;
    background-image: linear-gradient(orangered, DeepPink);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 700;
}
.top-section{
    background-image: url(Photos/top-banner.png);
    background-repeat: no-repeat;
}
.red{
    color: red;
}
.yellow{
    color:orange;
}
.newyork{
    padding-left: 50px;
    width: 100%;
}
.middle-section{
    background-image: url(Photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-section{
    box-shadow: 10px 10px 20px grey;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    color: dimgray;
    border-radius: 10px;
}
.last-section{
    background-image: url(/Photos/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experiancebox-1{
    border-top: 10px solid;
    border-left: 10px solid;
    border-image: linear-gradient(gold,DeepPink) ;
    border-image-slice: 100;
    
}
#experiancebox-2{
    border-top: 10px solid;
    border-right: 10px solid;
    border-image: linear-gradient(orangered, blue ) ;
    border-image-slice: 100;
    
}
.newyork img{
    width: 100%;
}
footer  p{
    text-align: center;
}
