body{
    font-family: 'Roboto Mono', monospace;
    
}
.padding{
    padding-left: 10%;
}

h1{
        font-size: 50px;
}
.color{
    color: orangered;
}
section{
    display: flex;
}
.text{
    width: 50%;
    padding: 5%;
}
div img{
    width: 70%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    color: white ;
    background-image: linear-gradient(orangered, DeepPink);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 700;
}